<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:label="MAD Lab Exam Repo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADLabExamRepo">

        <activity android:name=".mock1.WhatsAppMessageActivity" />
        <activity android:name=".mock1.MainMenuActivity" />
        <activity android:name=".ps7.SecurityScenariosActivity" />
        <activity android:name=".ps6.HospitalDirectoryActivity" />
        <activity android:name=".ps5.StudentResultActivity" />
        <activity android:name=".ps5.StudentRegistrationActivity" />
        <activity android:name=".ps4.PS4ResultActivity" />
        <activity android:name=".ps4.PS4FormActivity" />
        <activity android:name=".ps3.CalcToastActivity" />
        <activity android:name=".ps3.FeedbackResultActivity" />
        <activity android:name=".ps3.FeedbackActivity" />
        <activity android:name=".ps2.BasicCalculatorActivity" />
        <activity android:name=".ps2.VisitingCardActivity" />
        <activity android:name=".exercise2.CookieActivity" />
        <activity android:name=".exercise1.ConverterActivity" />

        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".mock1.MusicService" />

    </application>

</manifest>
